.site-logo {
    color: #26A69A;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 2px 2px #4FD1C5;
    text-transform: uppercase;
}

.site-logo-icon {
    margin-right: 10px;
    color: #4FD1C5;
    font-size: 28px;
}